<h1>Admin::Dashboard#show</h1>


<div class="alert alert-primary" role="alert">Number of products we are selling: <%= @products_count %></div>
<div class="alert alert-secondary" role="alert">Number of products' categories we have: <%= @categories_count %></div>
